*{
  margin: 0;
  padding: 0;
}

body {
  font-family: Helvetica;
  font-size: 10px;
}

.clearfix {
  clear: both;
}

nav {
  background-color: #C12127;
  color: white;
  font-size: 1.5em;
  width: 100%;
  padding: 6px 0;
}

nav a {
  text-decoration: none;
  color: rgba(255,255,255,0.8);

}
.nav-right {
  float: right;
  margin-right: 20px;
}

.nav-right li {
  display: inline-block;
  margin: 4px 10px;
}

.nav-left {
  display: inline-block;
  padding-left: 10px;
  margin: 2px 0;
}

header {
  background-color: rgb(32, 101, 136);
  color: white;
}

.top-header {
width: 100%;
height: 42px;
}

.search-box {
  float: left;
  width: 80%;

}
.search-box a {
  float: left;
  padding: 13px 20px 13px 20px;
  font-size: 1.2em;
  border: 0.2px solid rgba(255, 255, 255, 0.404);
  color: white;
  background-color: rgb(31, 82, 111);
}

.search-box input {
  padding: 12px 0px 13px 10px;
  background-color: rgb(31, 82, 111);
  width: 90%;
  float: left;
  border: none;
  font-size: 1.2em;
  border: 0.2px solid rgba(255, 255, 255, 0.404);
}

.top-header-signup {
  float: left;
  text-align: center;
  text-decoration: none;
  color: white;
  padding: 12px 20px 12px 0;
}

.top-header-signup p {
  float: left;
  text-align: center;
  color: white;
  padding: 0 5px;
  font-size: 1.2em;
}

.top-header-signup a {
  float: left;
  text-align: center;
  text-decoration: none;
  color: white;
  font-size: 1.2em;
}

.top-header .npm-logo {
  width: 6.2%;
  padding: 5px 10px;
  float: left;
}

.top-header .bear-logo {
  width: 2.4%;
  float: left;  
  padding: 4px 0px;
}

.mid-header {
  width: 100%;
  height: 400px;
  position: absolute;
  top: 25%;
  left: 20%;
}

.img-background{
  float: right;
  width: 100%;
  height: 400px;
  background-image: url(../Images/city-scape.svg);
  background-repeat: no-repeat;
}

.mid-header p {
  font-size: 1.3em;
  line-height: 1.5em;
}

.mid-header a {
  color: white;
  border-radius: 20px;
  padding: 10px 50px;
  margin: 20px 0;
  display: inline-block;
  background-color: rgb(240, 146, 51);
  font-size: 1.3em;
  text-decoration: none;
}

h1 {
  font-size: 3.5em;
  margin: 10px 0;
}

#collaboration {
  background-color: rgb(39, 53, 71);
  height: 400px;
  width: 100%;
}

.img-background-collab {
  background-image: url(../Images/collaboration.svg);
  background-repeat: no-repeat;
  padding: 12%;
  margin: 100px 0 0 33%;
  float: left;
}

.collab-text h2 {
  font-size: 2.7em;
  line-height: 1.4em;
}


.collab-text {
  float: left;
  color: white;
  margin: 70px 0 0 20px;
  font-size: 1.3em;
  line-height: 2em;
}

.collab-list {
  margin: 20px 0 0 20px;
}

.collab-text .collab-button {
  color: white;
  border-radius: 20px;
  padding: 3px 17px;
  margin: 20px 20px 10px 20px;
  display: inline-block;
  background-color: rgb(203, 56, 55);
  text-decoration: none;
}

.collab-text a {
  text-decoration: none;
  color: white;
}

.collab-text p {
  display: inline;
  margin-left: 10px;
}

#about {
  background-image: url(../Images/forklift.svg);
  background-size: cover;
  height: 400px;
  width: 100%;
  position: relative;
}

#about h2 {
  font-size: 2.3em;
  line-height: 1.4em;
}

.about-text {
  position: absolute;
  top: 20%;
  left: 15%;
  font-size: 1.3em;
  line-height: 1.5em;
  color: white;
}

.about-text a {
  border-radius: 20px;
  padding: 3px 17px;
  margin: 15px 0px 10px 0px;
  display: inline-block;
  background-color: rgb(49, 68, 88);
  text-decoration: none;
  color: white;
}

#functions {
  background-color: white;
  height: 400px;
  width: 60%;
  margin: 0 auto;
}

.func-heading {
  text-align: center;
  padding: 40px 0 5px 0;
}

#functions h2 {
  color: rgb(83, 88, 98);
  font-size: 2.3em;
  line-height: 1.4em;
  margin-bottom: 15px;
}

#functions p {
  color:rgb(135, 145, 156);
  font-size: 1.3em;
  line-height: 1.5em;
}

#functions h3 {
  color: black;
  font-size: 1.6em;
  line-height: 1.5em;
  margin: 9px 0;
  font-weight: 700;
}

.func-logos {
  text-align: center;
  margin: 30px 0 0 0;
}

.func-logos img {
  width: 40%;
}

.col {
  float: left;
  width: 30%
}

.col-middle {
  margin: 0 5%;
}

.func-logos a {
  color: rgb(208, 74, 73);
  text-decoration: none;
}