*{
  margin: 0;
  padding: 0;
}

body {
  font-family: Helvetica;
  font-size: 10px;
}

.clearfix {
  clear: both;
}

nav {
  background-color: #C12127;
  color: white;
  font-size: 1.5em;
  width: 100%;
  padding: 6px 0;
}

nav a {
  text-decoration: none;
  color: rgba(255,255,255,0.8);

}
.nav-right {
  float: right;
  padding: 0;
  margin: 0 20px 0 0;
}

.nav-right li {
  display: inline-block;
  margin: 0 10px;
}

.nav-left {
  display: inline-block;
  padding-left: 10px;

}

header {
  background-color: rgb(32, 101, 136);
  color: white;

}

.top-header {
width: 100%;
overflow: hidden;
height: 42px;
}

.top-header-link {
  float: left;
  text-align: center;
  text-decoration: none;
  color: white;
  padding: 12px 20px 12px 0;
}

.top-header-link p {
  float: left;
  text-align: center;
  text-decoration: none;
  color: white;
  padding: 0 5px;
  font-size: 1.2em;
}

.top-header-link a {
  float: left;
  text-align: center;
  text-decoration: none;
  color: white;
  font-size: 1.2em;
}

.top-header img {
  width: 6.2%;
  padding: 5px 10px;
  float: left;
}

.top-header .small-logo {
  width: 2.4%;
  float: left;  
  padding: 4px 0px;
}

.search-box {
  float: left;
  width: 80%;
}
.search-box a {
  float: left;
  background-color: rgb(31, 82, 111);
  padding: 10px 20px;
  margin-top: 0px;
  font-size: 17px;
  border: 0.2px solid rgba(255, 255, 255, 0.404);
}

.search-box input {
  padding: 12px 0px 13px 10px;
  width: 90%;
  float: left;
  margin-top: 0px;
  background-color: rgb(31, 82, 111);
  border: none;
  font-size: 12px;
  border: 0.2px solid rgba(255, 255, 255, 0.404);
}


.mid-header {
  width: 100%;
  height: 400px;
  position: absolute;
  top: 130px;
  left: 20%;
}

.img-background{
  float: right;
  width: 100%;
  height: 400px;
  background-image: url(Images/city-scape.svg);
  background-repeat: no-repeat;

}


.mid-header p {
  font-size: 13px;
  line-height: 1.5em;
}

.mid-header a {
  color: white;
  border: 0px solid rgb(240, 146, 51);
  border-radius: 20px;
  padding: 10px 50px;
  margin: 20px 0;
  display: inline-block;
  background-color: rgb(240, 146, 51);
  font-size: 13px;
  text-decoration: none;
}

h1 {
  font-size: 35px;
  margin: 10px 0;
}

#collaboration {
background-color: rgb(39, 53, 71);
height: 400px;
width: 100%;
}

.img-background-collab {
  background-image: url(Images/collaboration.svg);
  background-repeat: no-repeat;
  height: 200px;
  width: 100%;  
  position: relative;
  float: left;
  padding: 50px 0 50px 33%;
}